/* body {
  background-image: url("./fotos/blurrytree.jpg");
}  */

.App {
  text-align: center;
  background-color: #212d2c;
}

/* a:hover {
  color: #e9f48a;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #212d2c;
  height: 140px;
  padding: 20px;
  /* border-color: #818cb5;
  border-width: 2px;
  border-style: solid; */

  /* color: #a8f48a; */
  /* border-bottom-color: #a8f48a;
  border-bottom-width: 2px;
  border-bottom-style: solid; */
  /* border-color: #a8f48a;
  border-width: 2px;
  border-style: solid; */
  border-top-color: #818cb5;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-color: #818cb5;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-right: #818cb5 solid 2px;
  border-left: #818cb5 solid 2px;
}

.App-footer {
  height: 100px;
  padding: 40px;
  background-color: #212d2c;
  color: #a8f48a;
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  /* border-color: #818cb5;
  border-width: 2px;
  border-style: solid; */
  border-top-color: #818cb5;
  border-top-width: 0px;
  border-top-style: solid;
  border-bottom-color: #818cb5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-right: #818cb5 solid 2px;
  border-left: #818cb5 solid 2px;
}

.loadpage {
  min-height: 400px;
  /* border-color: #818cb5;
  border-width: 2px;
  border-style: solid; */
  border-top-color: #818cb5;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-color: #818cb5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-right: #818cb5 solid 2px;
  border-left: #818cb5 solid 2px;
}

.pagetitle {
  color: #a8f48a;
  font-family: 'Oxygen', sans-serif;
  padding: 10px;
  font-size: 24px;
  border-bottom: #f2f48a 1px solid;
}

.navtab {
  color: #a8f48a;
  
}
.navtab:hover {
  color: #f2f48a;
}

.sig {
  height: 100px;
}

.navtab {
  font-family: 'Oxygen', sans-serif;
  position: relative;
  bottom: 30px;
  font-size: 14px;
  padding-top: 55px;
}

.App-title {
  font-size: 3em;
  font-family: 'Cinzel', serif;
}

.App-intro {
  font-size: large;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.fab {
  color:#818cb5;
}
.fab:hover {
  color: #f2f48a;
}

.connectwithme {
  color: #a8f48a;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  
}

.logolinks {
  border-right: #818cb5 solid 2px;
  border-left: #818cb5 solid 2px;
  border-bottom: #818cb5 solid 2px;
  padding: 20px;

}

.boutmeblurb {
  color: #818cb5;
  padding: 10px;
}

.boutmeparagraph {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}

.contactmeform {
  padding: 20px;
  border: #818cb5 solid 2px;
}

.Button {
  color: #212d2c;
  background-color: #818cb5;
  font-family: 'Oxygen', sans-serif;
}

.Button:hover {
  color: #212d2c;
  background-color: #f2f48a;
  font-family: 'Oxygen', sans-serif;
}

.projectTitle {
  color: #818cb5;
  font-family: 'Oxygen', sans-serif;
}

.projectText {
  color: #818cb5;
  font-family: 'Oxygen', sans-serif;
}

.myemail {
  color: #818cb5;
  font-family: 'Oxygen', sans-serif;
  font-size: 28px;
}
.jakelink {
  color: #818cb5;
  font-family: 'Oxygen', sans-serif;
}

.jakeslink {
  color: #bcbd7f;
  font-family: 'Oxygen', sans-serif;
}
.jakeslink:hover {
  color: #a8f48a;
  font-family: 'Oxygen', sans-serif;
}

input {
	border: none;
	border-bottom: 1px #818cb5 solid;
	width: 30%;
	height: 30px;
	outline: none;
	color: #818cb5;
  background-color: #212d2c;
  font-family: 'Oxygen', sans-serif;
}

textarea {
  border: none;
	border-bottom: 1px #818cb5 solid;
  width: 30%;
  outline: none;
	color: #818cb5;
  background-color: #212d2c;
  font-family: 'Oxygen', sans-serif;
}

#submitButton {
  color: #a8f48a;
}

#submitButton:hover {
  color: #bcbd7f;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
